.jumbotron {
	background-image: url('photo.jpg');
	background-size: cover;
	background-position: 0% 50%;
	height: 500px;
}

.jumbotron h1 {
	font-family: "factoria", sans-serif;
	font-weight: 700;
	font-size: 60px;
	color: #fff;
	text-shadow: 2px 2px #0E5C0A;
}

.jumbotron p {
	font-family: ;
	color: #fff;
}

div .contact-info {
	font-family: "industry", sans-serif;
	font-weight: 500;
	font-size: 18px;
	text-shadow: 1px 1px #0E5C0A;
}

div .profile {
	font-family: "industry", sans-serif;
	font-weight: 500;
	font-style: italic;
	font-size: 24px;
	text-shadow: 1px 1px #0E5C0A;
}

.infobox {
	width: 400px;
}

.professional-experience h3 {
	font-family: "factoria", sans-serif;
	font-weight: 600;
	font-size: 36px;
}

.professional-experience h4 {
	font-family: "factoria", sans-serif;
	font-weight: 600;
	font-size:  24px;
}