.nav li {
	display: inline;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
}

.nav a {
	padding: 20px;
}

.jumbotron {
	background-image: url('photo.jpg');
	background-size: cover;
	height: 500px;
}
.jumbotron h1 {
	font-family: "verveine", sans-serif;
	font-size: 48px;
	color: #fff;
}

.jumbotron p {
	font-family: ;
	font-size: 24px;
	color: #fff;
}

.job-title-date h4 {
	display: inline;
}

.job-title-date p {
	display: inline;
}