.jumbotron {
	background-image: url('photo.jpg');
	background-size: cover;
	background-position: 0% 50%;
	height: 500px;
}

.jumbotron h1 {
	font-family: "verveine", sans-serif;
	font-size: 60px;
	color: #fff;
}

.jumbotron p {
	font-family: ;
	color: #fff;
}

.infobox {
	width: 400px;
}

.professional-experience h3 {
	font-family: "verveine", sans-serif;
	font-size: 36px;
}

.professional-experience h4 {
	font-family: "verveine", sans-serif;
	font-size:  24px;
}