.color-cube {
    width: 100px;
    height: 100px;
    margin: 10px 10px 10px 0;
    display: inline-block;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.green {
    background-color: green;
}
.blue {
    background-color: blue;
}
