<!DOCTYPE html>
<html lang="en" ng-app="calcApp">

<head>
    <meta charset="utf-8">
    <title>Weekend Challenge 3</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous" />
    <link rel="stylesheet" href="style.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js" charset="utf-8"></script>
    <script src="client.js" charset="utf-8"></script>
</head>

<body class="container" ng-controller="CalcCtrl">
    <header class="page-header">
        <h1>Prime Weekend Challenge 3 <small>Angular Calculator with Infix-to-Postfix Expression Handling and History</small></h1>
    </header>
    <main class="row">
        <!-- Calculator container -->
        <div class="col-md-6 calculator">
            <form class="">
                <!-- Output field -->
                <input type="text" class="form-control input-lg text-right" name="name" placeholder="0" ng-model="displayOutput" />
                <!-- Operand and operator keys -->
                <!-- First row -->
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.one)">{{operand.one}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.two)">{{operand.two}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.three)">{{operand.three}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-primary btn-block calc-buttons" ng-click="concatOutputString(operator.add)">{{operator.add}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-danger btn-block calc-buttons" ng-click="clearOutput()">{{misc.clear}}</button>
                    </div>
                </div>
                <!-- Second row -->
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.four)">{{operand.four}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.five)">{{operand.five}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.six)">{{operand.six}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-primary btn-block calc-buttons" ng-click="concatOutputString(operator.subtract)">{{operator.subtract}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-info btn-block calc-buttons" ng-click="concatOutputString(operator.pow)">{{operator.pow}}</button>
                    </div>
                </div>
                <!-- Third row -->
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.seven)">{{operand.seven}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.eight)">{{operand.eight}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.nine)">{{operand.nine}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-primary btn-block calc-buttons" ng-click="concatOutputString(operator.multiply)">{{operator.multiply}}</button>
                    </div>
                    <div class="col-md-3 col-xs-3">
                        <button type="button" name="button" class="btn btn-lg btn-info btn-block calc-buttons" ng-click="concatOutputString(operator.sqrt)">{{operator.sqrt}}</button>
                    </div>
                </div>
                <!-- Fourth row -->
                <div class="row">
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.zero)">{{operand.zero}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-default btn-block calc-buttons" ng-click="concatOutputString(operand.point)">{{operand.point}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-success btn-block calc-buttons" ng-click="evaluate(displayOutput)">{{operator.equal}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-primary btn-block calc-buttons" ng-click="concatOutputString(operator.divide)">{{operator.divide}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-info btn-block calc-buttons" ng-click="concatOutputString(operator.leftParens)">{{operator.leftParens}}</button>
                    </div>
                    <div class="col-md-2 col-xs-2">
                        <button type="button" name="button" class="btn btn-lg btn-info btn-block calc-buttons" ng-click="concatOutputString(operator.rightParens)">{{operator.rightParens}}</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-md-6">
          <div class="list-group">
            <a ng-repeat="expression in prevOutputs | reverse track by $index" ng-click="evaluate(expression.expression)" class="list-group-item">
              <span class="badge">{{expression.solution}}</span> {{expression.expression}} <span class="text-muted small">{{expression.timestamp}}</span>
            </a>
          </div>
        </div>
    </main>
</body>

</html>
