body {
    margin: 50px;
}

.person h2 {
    font-size: 18px;
    margin-top: 2px;
}

.person {
    float: left;
    margin: 20px;
    padding: 20px;
    border: 1px dotted gray;
}

.person img {
    display: block;
    margin: 10px auto;
}